# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
interview-env/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# ==========================
# Machine Learning Files
# ==========================
*.pt
*.pth
*.bin
*.safetensors

# Uploaded Files
resumes/
jobs/

# Generated Output
output/

# Optional Documents
*.pdf
*.docx

# ==========================
# React / Node
# ==========================
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db